@font-face {
  font-family: 'SUIT-semiBold';
  src: url('./assets/font/SUIT-SemiBold.woff') format('woff');
}

.bold {
  font-family: 'SUIT-semiBold';
}

.hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}